/* src/Notifications.css */

.Notifications {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.Notifications ul {
  list-style-type: none;
  padding: 0;
}

.Notifications li[data-priority="default"] {
  color: blue;
}

.Notifications li[data-priority="urgent"] {
  color: red;
}

